* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.calc {
	border: 1px solid #333;
	background-color: #222;
	color: seashell;
	width: 400px;
}
.screen {
	padding: 30px 15px;
	text-align: right;
	font-size: 2.5rem;
	font-family: 'Courier New', Courier, monospace;
}
.calc_button_row {
	height: 80px;
	display: flex;
	justify-content: space-between;
}
.calc_button {
	width: 24.5%;
	background-color: #555;
	margin-bottom: .5%;
	font-size: 40px;
	text-align: center;
	line-height: 80px;
	font-family:  Verdana, Geneva, Tahoma, sans-serif;
	cursor: pointer;
	border: none;
	color: inherit;
	outline: none;
}
.calc_button:hover {
	background-color: #666;
}
.calc_button:active {
	background-color: firebrick;
}
.calc_button:last-of-type {
	background-color: firebrick;
}
.calc_button:last-of-type:hover {
	background-color: darkred;
}
.calc_button:last-of-type:active {
	background-color: #333;
}
.double {
	width: 49.7%;
}
.triple {
	width: 74.8%;
}




